.active {
  transform: translateY(-20px);
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 10px;
}
